/* screen - PhotolistPage */

.PhotolistPage {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 2039px;
    width: 1440px;
  }

  @font-face {
    font-family: 'GangwonEduPower';
    src: url('../fonts/GangwonEduPower.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'GangwonEduAll';
    src: url('../fonts/GangwonEduAll.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  .PhotolistPage .header-nav {
    align-items: center;
    background-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #66666640;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 72px;
    width: 1440px;
  }
  
  .PhotolistPage .flex-row {
    margin-top: 16px;
    min-width: 1360px;
  }
  
  .PhotolistPage .rectangle-77 {
    height: 40px;
    object-fit: cover;
    width: 40px;
  }
  
  .PhotolistPage .links {
    align-items: flex-end;
    display: inline-flex;
    gap: 40px;
    margin-left: 40px;
    margin-top: 8.0px;
    position: relative;
  }
  
  .PhotolistPage .post-item img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* 이미지를 200px x 200px로 고정 */
}
.PhotolistPage .post-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
  .PhotolistPage .place {
    color: #111111;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
    cursor: pointer;
  }
  
  .PhotolistPage .x-list {
    color: #666666cc;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
    cursor: pointer;
  }
  
  .PhotolistPage .login-sign-up {
    align-items: center;
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    margin-left: 857px;
    position: relative;
  }
  
  .PhotolistPage .button-1 {
    border: 1px solid;
    border-color: #111111;
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
    cursor: pointer;
  }
  
  .PhotolistPage .frame-276 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 8px;
    position: relative;
    top: 8px;
  }
  
  .PhotolistPage .icons {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .PhotolistPage .button-2 {
    background-color: #111111;
    border: 1px solid;
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 98px;
    cursor: pointer;
  }
  
  .PhotolistPage .frame-276-1 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 20px;
    position: relative;
    top: 8px;
  }
  
  .PhotolistPage .sign-up {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .PhotolistPage .divider-2 {
    background-color: #d4d4d4;
    height: 1px;
    width: 1440px;
  }
  
  .PhotolistPage .overlap-group1 {
    height: 1527px;
  }
  
  .PhotolistPage .view {
    align-items: flex-end;
    background-color: #f3f2f0;
    display: flex;
    flex-direction: column;
    gap: 44px;
    height: 1527px;
    left: 0;
    padding: 50px 111px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .PhotolistPage .flex-col {
    align-self: center;
    flex-direction: column;
    gap: 31px;
    margin-left: 1.0px;
    min-height: 193px;
    width: 819px;
  }
  
  .PhotolistPage .title {
    color: #06040a;
    font-family: 'GangwonEduPower';
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 1.0px;
    min-height: 80px;
    text-align: center;
    width: 226px;
  }
  
  .PhotolistPage .frame-14562 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    border-radius: 12px;
    display: flex;
    gap: 641px;
    height: 82px;
    justify-content: flex-end;
    min-width: 819px;
    padding: 0 16px;
  }
  
  .PhotolistPage .enter-tag {
    color: #333333cc;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 2.0px;
    min-height: 26px;
    min-width: 88px;
    white-space: nowrap;
  }
  
  .PhotolistPage .image-7 {
    height: 50px;
    object-fit: cover;
    width: 50px;
  }
  
  .PhotolistPage .flex-row-1 {
    align-items: flex-start;
    display: flex;
    gap: 108px;
    height: 1013px;
    min-width: 1184px;
  }
  
  .PhotolistPage .button-container {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 143px;
    min-height: 886px;
    width: 200px;
  }
  
  .PhotolistPage .button {
    align-items: flex-start;
    background-color: #c7c7c7;
    border: 1px solid;
    border-color: #111111;
    border-radius: 20px;
    display: flex;
    height: 200px;
    overflow: hidden;
    padding: 86.5px 68px;
    width: 200px;
  }

  .PhotolistPage .post-title{
    font-family: 'Lato';
    font-style: bold;
    font-weight: 600;
    font-size: 60px;
    line-height: 48px;
  }


  .PhotolistPage .post-tag{
    font-family: 'Lato';
    font-style: bold;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color : #666666;
  }

  .PhotolistPage .post-decription{
    font-family: 'Poppins';
  }
  
  .PhotolistPage .pohto-1 {
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    min-width: 64px;
    text-align: center;
  }
  
  .PhotolistPage .pohto {
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    min-width: 64px;
    position: relative;
    text-align: center;
  }
  
  .PhotolistPage .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 1000px; /* 고정 높이 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    width: 100%;
    cursor: pointer;
}
  
  .PhotolistPage .button-3 {
    align-items: flex-start;
    align-self: flex-end;
    background-color: #111111;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    height: 40px;
    overflow: hidden;
    padding: 6.5px 20.5px;
    width: 98px;
    cursor: pointer;
  }
  
  .PhotolistPage .sign-up-1 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    min-width: 57px;
    position: relative;
    text-align: center;
  }
  
  .PhotolistPage .text-2 {
    margin-top: 101px;
  }
  
  .PhotolistPage .text {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 12px;
    min-height: 104px;
    width: 842px;
  }
  
  .PhotolistPage .text-3 {
    margin-top: 188px;
  }
  .PhotolistPage .enter-tag {
    border:none;
  }
  
  
  .PhotolistPage .text-4 {
    margin-top: 179px;
  }
  
  .PhotolistPage .divider {
    background-color: #666666;
    height: 1px;
    left: 111px;
    position: absolute;
    top: 342px;
    width: 1218px;
  }
  
  .PhotolistPage .divider-3 {
    background-color: #666666;
    height: 1px;
    left: 111px;
    position: absolute;
    top: 685px;
    width: 1218px;
  }
  
  .PhotolistPage .divider-4 {
    background-color: #666666;
    height: 1px;
    left: 111px;
    position: absolute;
    top: 1028px;
    width: 1218px;
  }
  
  .PhotolistPage .divider-5 {
    background-color: #666666;
    height: 1px;
    left: 111px;
    position: absolute;
    top: 1371px;
    width: 1218px;
  }
  
  .PhotolistPage .group-10 {
    align-items: flex-start;
    display: flex;
    min-width: 1440px;
  }
  
  .PhotolistPage .overlap-group {
    height: 440px;
  }
  
  .PhotolistPage .footer {
    align-items: flex-start;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    height: 440px;
    justify-content: flex-start;
    left: 0;
    padding: 48px 111px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .PhotolistPage .frame-275 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    position: relative;
  }
  
  .PhotolistPage .divider-1 {
    background-color: #66666640;
    height: 1px;
    position: relative;
    width: 1218px;
  }
  
  .PhotolistPage .frame-274 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 155px;
    position: relative;
  }
  
  .PhotolistPage .frame-269 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 64px;
    position: relative;
  }
  
  .PhotolistPage .frame-268 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .PhotolistPage .product {
    color: #333333;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .PhotolistPage .frame-268-item {
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .PhotolistPage .group-6 {
    height: 24px;
    position: relative;
    width: 1131px;
  }
  
  .PhotolistPage .frame-272 {
    align-items: flex-start;
    display: inline-flex;
    gap: 56px;
    position: relative;
    top: 1px;
  }
  
  .PhotolistPage .copyright-2022 {
    color: #333333;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .PhotolistPage .image-4 {
    height: 134px;
    left: 199px;
    object-fit: cover;
    position: absolute;
    top: 86px;
    width: 300px;
  }
  
  .PhotolistPage .flex {
    align-items: center;
    display: flex;
  }
  
  .PhotolistPage .overlap {
    position: relative;
    width: 1440px;
  }
  
  .PhotolistPage .text-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 48px;
    white-space: nowrap;
  }
  